@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.utm-font {
  font-family: "U TM Avo", sans-serif;
}
.title {
  font-size: 42px;
  line-height: 25px;
  color: #272039;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  text-align: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
button{transition: 0.3s;}
button:hover{
  transform: translateY(-5px);
}

#main {
  .section-intro {
    background-image: url("../../../dist/images/introduce-bg.png");
    padding: 20px 0 200px;
    // background-position: center;
    .bs-container {
      .bs-row {
        .bs-col {
          .utm-font();
          .module-intro-title {
            display: flex;
            margin-bottom: 60px;
            h2 {
              color: #002d4d;
              font-size: 42px;
              font-weight: bold;
            }
            .intro-title-bvote {
              margin-left: 25px;
              margin-right: 56px;
              color: #00c48f;
              position: relative;
              img {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-45%, -45%);
              }
            }
          }
          .module-intro-content {
            width: 80%;
            .intro-content-title {
              color: #002b4f;
              font-weight: bold;
              font-size: 19px;
              line-height: 25px;
            }
            p {
              font-size: 15px;
              line-height: 25px;
              color: #002b4f;
              text-align: left;
              margin-bottom: 26px;
            }
          }
        }
        .module-intro-yt {
          position: absolute;
          right: 0;
          transform: translateY(-100px);
          .intro-yt-circle {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-20%, -35%);
          }
        }
      }
    }
  }
  .section-event {
    overflow: hidden;
    background-image: url("../../../dist/images/event-bg-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #111033;
    .bs-container-fluid {
      padding: 0;
      // .event-miss-img{
      //   transform: skew(25deg) translateX(-25%);
      //   img{
      //     transform: skew(-25deg) translateX(25%);
      //   }
      // }
      .module-event {
        flex-grow: 1;
        // transform: skew(25deg);
        background-color: red;
      }
    }
  }
  .section-why {
    background-color: #eef1f6;
    background-size: cover;
    background-position: center;
    z-index: 1;
    .module-why {
      padding: 100px 80px 120px;
      .module-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 92px;
        .title {
          color: #272039;
        }
        h2 {
          span {
            font-size: 50px;
          }
        }
        img {
          margin-top: 10px;
          margin-bottom: 25px;
        }
        p {
          text-align: center;
          font-style: italic;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
        }
      }
      .module-content {
        display: flex;
        justify-content: space-between;
        .why-item {
          background-image: url("../../../dist/images/why-item-bg-active.png");
          background-size: cover;
          width: 31%;
          position: relative;
          transition: 0.3s;
          overflow: hidden;
          .why-item-inner {
            padding: 20px 0;
            transition: 0.3s;
            background-color: white;
            height: 100%;
            width: 100%;
          }
          &::after,
          &::before {
            position: absolute;
            width: 25px;
            height: 25px;
            content: "";
          }
          &::after {
            border: 3px solid #00fd97;
            top: 0;
            left: 0;
            border-bottom: 0px;
            border-right: 0px;
          }
          &::before {
            border: 3px solid #00fd97;
            bottom: 0;
            right: 0;
            border-top: 0px;
            border-left: 0px;
          }
          .why-item-icon {
            display: flex;
            position: relative;
            margin: 20px 0;
            .inactive {
              margin: auto;
              opacity: 1;
            }
            .active {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
            }
          }
          .why-item-content {
            color: #00213d;
            font-family: "Open Sans";
            h4,
            p {
              transition: 0.3s;
            }
            h4 {
              font-size: 21px;
              line-height: 32px;
              font-weight: 700;
              margin: 0 10px;
              margin-bottom: 20px;
              text-align: center;
            }
            p {
              font-size: 15px;
              line-height: 25px;
              font-weight: 400;
              margin: 0 18px;
            }
          }
          &:hover {
            transform: translateY(-15px);
            .why-item-inner {
              background-color: transparent;
              .why-item-icon {
                .inactive {
                  opacity: 0;
                }
                .active {
                  opacity: 1;
                }
              }
              .why-item-content {
                h4,
                p {
                  color: white;
                }
              }
            }
            &::after,
            &::before {
              border-color: white;
            }
          }
        }
      }
    }
  }
  .section-structure {
    background-image: url("../../../dist//images//structure-bg.png");
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    margin-top: -50px;
    z-index: 0;
    user-select: none;
    svg {
      path {
        fill: #eef1f6;
      }
    }
    .module-structure {
      .module-title {
        .title {
          color: #26c382;
          margin-top: 70px;
          margin-bottom: 105px;
          font-size: 34px;
          .utm-font();
        }
      }
      .module-content {
        display: flex;
        position: relative;
        .structure-detail{
          position: absolute;
          top: 30%;
          z-index: 10;
          max-width: 320px;
          color: white;
          background-color: #000b22;
          box-shadow: 0 0 10px #0fe692;
          border-radius: 16px;
          padding: 20px;
          .utm-font();
          .arrow{
            position: absolute;
          }
          .detail-title{
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 15px;
          }
          span{
            font-size: 14px;
            line-height: 21px;
          }
        }
        .structure-detail{
          transform: scale(0);
        }
        .structure-detail.api-system,
        .structure-detail.block-chain{
          transition-duration: 0.5s;
          transform: translate(155px, 35px) scale(1);
          .arrow{
            left: -35px;
          }
        }
        .structure-detail.app-client,
        .structure-detail.web-client,
        .structure-detail.kyc{
          transition-duration: 0.5s;
          transform: translate(calc(-1*(100% + 40px)), -35px) scale(1);
          .arrow {
            right: -35px;
            transform: rotate(180deg);
          }
        }
        .structure-img {
          margin: 0 auto;
          position: relative;
          transform: translateX(75px);
          max-width: 100%;
        }
        .structure-icon {
          transition: 0.3s;
          position: absolute;
          &:hover {
            transform: translateY(-10px) scale(1.06);
          }
        }
        p.structure-text {
          transition: 0.3s;
          text-transform: uppercase;
          position: absolute;
          font-size: 17px;
          line-height: 29px;
          color: #e7f7fa;
          font-weight: bold;
          max-width: 150px;
          flex-wrap: wrap;
          .utm-font();
          text-align: center;
        }
        p.structure-text.disappear{
          opacity: 0;
        }
        .text-app-client {
          top: 44%;
          left: -8%;
        }
        .text-web-client {
          top: -4%;
          left: 2%;
        }
        .text-api-system {
          top: 1%;
          left: 47%;
        }
        .text-kyc {
          top: 17%;
          left: 82%;
        }
        .text-block-chain {
          top: 66%;
          left: 62%;
        }

        .app-client {
          top: 37%;
          left: 8%;
        }
        .web-client {
          top: -5%;
          left: 20%;
        }
        .api-system {
          top: 6%;
          left: 40%;
        }
        .kyc {
          top: 17%;
          left: 69%;
        }
        .block-chain {
          top: 66%;
          left: 51%;
        }
      }
    }
  }
  .section-road-map {
    background-color: black;
    background-image: url("../../../dist/images/road-map-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 300px;
    padding-top: 125px;
    .module-road-map {
      .module-title {
        h2 {
          font-size: 33px;
          line-height: 30px;
          color: #26c382;
          font-family: "U TM Avo Bold";
        }
        p {
          font-size: 14px;
          line-height: 25px;
          color: #ffffff;
          font-style: italic;
          text-align: center;
          max-width: 620px;
          margin: 0 auto;
        }
      }
      .module-content {
        width: 100%;
        height: 500px;
        border: 2px solid #0fe692;
        border-radius: 50%;
        position: relative;
        border-left: 0;
        border-bottom: 0;
        border-right: 0;
        transform: translateY(200px);
        .dot {
          width: 20px;
          height: 20px;
          position: absolute;
          background-image: linear-gradient(0deg, #03a063 0%, #00e0ef 100%);
          border-radius: 50%;
          transition: 0.3s;
          .flex-center();
          .date {
            background-color: black;
            position: absolute;
            border: 1px solid #0fe692;
            top: -100px;
            transform: skew(25deg);
            transition: 0.3s;
            span {
              font-size: 20px;
              padding: 10px 24px;
              display: inline-block;
              transform: skew(-25deg);
              color: white;
              user-select: none;
            }
          }
          img,
          .road-map-detail {
            transform: scale(0);
            transition: 0.3s;
          }
          .road-map-detail {
            color: white;
            position: absolute;
            top: 100px;
            width: 320px;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px #0fe692;
            transform: scale(0.5);
            opacity: 0;
          }
          &:hover {
            background-image: linear-gradient(0deg, #1aaf75 0%, #0fe692 100%);
            img,
            .road-map-detail {
              transform: scale(1);
              opacity: 1;
            }
            .date {
              box-shadow: 0 0 10px #0fe692;
              span {
                color: #0fe692;
              }
            }
          }
        }
        .dot:nth-child(1) {
          top: 11%;
          left: 15%;
        }
        .dot:nth-child(2) {
          top: -1%;
          left: 38%;
        }
        .dot:nth-child(3) {
          top: -1%;
          left: 62%;
        }
        .dot:nth-child(4) {
          top: 13%;
          left: 85%;
        }
      }
    }
  }
  .section-benefits {
    transform: skewY(6deg);
    background-color: white;
    background-image: url("../../../dist/images/benefits-bg.png");
    background-size: auto;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: -100px;
    .bs-container {
      transform: skewY(-6deg);
      p {
        font-size: 16px;
        color: #002d4d;
        font-weight: bold;
        .utm-font();
      }
      .module-title {
        .title {
          font-size: 32px;
          text-align: left;
          margin-bottom: 36px;
        }
        .group-button {
          margin: 15px 0 40px 0;
          button {
            color: #01234c;
            font-size: 14px;
            width: 200px;
            height: 40px;
            border-radius: 20px;
            filter: drop-shadow(2.27px 4.455px 10px rgba(0, 0, 0, 0.15));
            background-image: linear-gradient(0deg, #0fe692 0%, #00e0ef 100%);
            margin: 0 10px;
          }
        }
      }
      .module-content {
        .benefits-detail {
          margin: 25px 0;
          span {
            line-height: 26px;
          }
        }
      }
      .laptop {
        display: flex;
        height: 100%;
        align-items: center;
        img {
          width: 100%;
          height: auto;
          cursor: pointer;
        }
      }
    }
  }
}
